<div *ngIf="currentUser$ | async as user" class="account-container">
  <div class="account-card">
    <h2 class="account-title">Moj nalog</h2>
    
    <dl class="account-details">
      <div class="detail-item">
        <dt>Ime:</dt>
        <dd>{{ user.ime }}</dd>
      </div>
      <div class="detail-item">
        <dt>Prezime:</dt>
        <dd>{{ user.prezime }}</dd>
      </div>
      <div class="detail-item">
        <dt>Email:</dt>
        <dd>{{ user.email }}</dd>
      </div>
      <div class="detail-item">
        <dt>Nivo pristupa:</dt>
        <dd>{{ user.nivoPristupa }}</dd>
      </div>
    </dl>
  </div>
</div>

<div *ngIf="!(currentUser$ | async)">
  <p>Podaci o nalogu trenutno nisu dostupni.</p>
</div>