<div>
  <h2>Knjige u biblioteci</h2>
  <a routerLink="/books/add" class="add-button" *ngIf="isMedior$ | async">Dodaj novu knjigu</a>
  <div *ngIf="loading$ | async" class="loading-message">Učitavanje...</div>  
  <table>
    <thead>
      <tr>
        <th>Naslov</th>
        <th>Autor</th>
        <th>ISBN</th>
        <th>Status</th>
        <th>Stanje</th>
        <th *ngIf="isMedior$ | async">Akcije</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let book of books$ | async"
        app-book-list-item
        [book]="book"
        [showActions]="(isMedior$ | async) ?? false"
        (bookDeleted)="onBookDeleted($event)">
      </tr>
    </tbody>
  </table>
</div>